<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2 class="title">Recuperar Contraseña</h2>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <!-- Campo de correo electrónico -->
      <div class="p-field">
        <label for="email">Correo Electrónico</label>
        <input
          id="email"
          type="email"
          pInputText
          placeholder="Ingresa tu correo"
          formControlName="email"
          [class.ng-invalid]="isFieldInvalid('email')"
        />

        @if (isFieldInvalid('email')) {
          <small class="p-error">Ingresa un correo válido.</small>
        }
      </div>

      <div class="button-group">
        <button
          pButton
          type="submit"
          label="Enviar enlace"
          [disabled]="forgotPasswordForm.invalid"
        ></button>
      </div>
    </form>
  </div>
</div>

<!-- Mensajes de notificación -->
<p-toast></p-toast>
